Cython==0.29.21
matplotlib==3.3.3
numpy==1.22.0
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==4.4.0.46
Pillow==9.3.0
#pycocotools @ git+https://github.com/cocodataset/cocoapi.git@8c9bcc3cf640524c4c20a9c40e89cb6a2f2fa0e9#subdirectory=PythonAPI
scikit-image==0.17.2
scipy==1.5.2
seaborn==0.11.0
torch==1.5.1
torchvision==0.6.0a0+35d732a
